<?xml version='1.0' encoding='utf-8'?>
<widget id="com.edcorporation.monfoodlivreur" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Mon Food Livreur</name>
    <description>Commandez vos repas favoris aupres des meilleurs restaurants de Kinshasa et faites-vous livrer rapidement.</description>
    <author email="contact@edcorporation.com" href="https://edcorporation.com">Khevin Andrew Kita - Ed Corporation</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="*" />

    <preference name="ScrollEnabled" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#f97316" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="Orientation" value="portrait" />
    <preference name="AndroidLaunchMode" value="singleTop" />

    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/icon/android/icon-192.png" />
        <icon density="mdpi" src="res/icon/android/icon-192.png" />
        <icon density="hdpi" src="res/icon/android/icon-192.png" />
        <icon density="xhdpi" src="res/icon/android/icon-512.png" />
        <icon density="xxhdpi" src="res/icon/android/icon-512.png" />
        <icon density="xxxhdpi" src="res/icon/android/icon-512.png" />
    </platform>
</widget>
